body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    min-height: 80px;
}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-brand {
    /* padding: 0 15px; */
    height: 80px;
    line-height: 80px;
}

.navbar-toggler-icon {
    background-image: url("../img/menu4.svg") !important;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border: none;
    outline: 0;
}

.active-home {
    border-bottom: 2px solid #000;
}

/* .nav-item:hover {
    border-bottom: 2px solid #000;
} */

.nav-btn {
    background: #110E0E;
    color: #fff;
    width: 72px;
    border-radius: 38px;
}

.commet {
    color: #544D4D !important;
    font-size: 14px;
}

.btn:focus {
    box-shadow: none;
}

.card {
    border: none;
    margin-right: 18px;
}

@media only screen and (max-width: 600px) {
    .card-deck {
        align-items: center;
    }

    .col-care-img {
        position: absolute;
    }

    /* .first-card {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    } */

    .mobile-nav-btn {
        display: none;
    }
    .credits {
        text-align: center;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    .title-nl {
        padding-top: 70px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .title-nl {
        padding-top: 55px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 320px) {
    .title-nl {
        padding-top: 25px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 768px) {
    .img-fluid {
        max-width: 112%;
        height: auto;
        position: absolute;
        top: 90px;
        left: -43px;
    }
}